{
  "presets": [
    [
      "@babel/preset-env",
      {
        "corejs": "3.0.0",
        "targets": {
          "browsers": [
            "last 2 versions"
          ]
        },
        "modules": false,
        "useBuiltIns": "usage"
      }
    ]
  ]
}
