<?xml version="1.0" encoding="utf-8" ?>
<widget id="SidiMap.widget.SidiMap" needsEntityContext="false" xmlns="http://www.mendix.com/widget/1.0/">
    <name>SiDiMap</name>
    <description>SiDi Map Widget</description>

    <icon />

    <properties>
        <property key="targetQuery" type="string" required="true">
            <caption>SiDi Selector DOM Query</caption>
            <category>General</category>
            <description>CSS Selector to find the SiDi Select Box</description>
        </property>
    </properties>
</widget>
